<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
	<%- include('partials/header') %>
	<h1> ACA ENTRAN SOLO LOS VIP ... Sorry pobre xD </h1>
<hr>
<p> Anda al login , por 20Dolares capas te dejo entrar :D </p>
<a href="/login"> IR AL LOGIN </a>
</body>
</html>